<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="test.css">
    
</head>

<h1>NETFLIX</h1>
<div class="wrapper">
  <section id="section1">
    <a href="#section3">‹</a>
      <div class="item">
        <img src="1.webp"/>
      </div>
      <div class="item">
        <img src="2.webp"/>
      </div>
      <div class="item">
        <img src="3.webp"/>
      </div>
      <div class="item">
        <img src="4.webp"/>
      </div>
      <div class="item">
        <img src="5.webp"/>
      </div>
    <a href="#section3">›</a>
  </section>
  <section id="section2">
    <a href="#section1">‹</a>
      <div class="item">
        <img src="6.webp"/>
      </div>
      <div class="item">
        <img src="7.webp"/>
      </div>
      <div class="item">
        <img src="8.webp"/>
      </div>
      <div class="item">
        <img src="img9.jpg"/>
      </div>
      <div class="item">
        <img src="img10.jpg"/>
      </div>
    <a href="#section3">›</a>
  </section>

  <section id="section3">
    <a href="#section2">‹</a>
      <div class="item">
        <img src="img11.jpg"/>
      </div>
      <div class="item">
        <img src="img12.jpg"/>
      </div>
      <div class="item">
        <img src="img13.jpg"/>
      </div>
      <div class="item">
        <img src="img14.jpg"/>
      </div>
      <div class="item">
        <img src="img15.jpg"/>
      </div>
    <a href="#section1">›</a>
  </section>
</div>
</body>
</html>